
{% extends 'navigationbar.html' %}
{% block body %}
 <div class="container my-5 ">
<h1>    Welcome To Gandhi Hospital</h1>
    </div>
<hr>
<div class="container ">
      <h2>Book your consultation with your doctor anywhere!</h2>
<h4>Create an account to save your profile,then book your appointment!</h4>
</div>
<hr>
<h3>Department Section</h3>
<ol type="a">
      <li>Cardilogy</li>
      <li>Oncology</li>
      <li>Pediatrics</li>
      <li>Orthopedics</li>
      <li>Neurology</li>
</ol>
<h3>Doctors Section</h3>
<h5>Meet Our Doctors</h5>
<ol type="i">
      <li>Dr.Manoj Das</li>
      <li>Dr.Shivam Manna</li>
      <li>Dr.Sayan Bose</li>
      <li>Dr.Himadri Biswa</li>
      <li>Dr.Nivedita Das</li>
</ol>
<ul>
      <h5>Social Media Links</h5>
      <li>facebook: fb.com/GH.hospital </li>
      <li>YouTube: youtubr.com/GH.hospital </li>
</ul>
<script>src="scripts.js"</script>

{% endblock %}
